<h1>Задание</h1>
<p>
  Написать программу, определяющую, сколько из чисел в диапазоне
  от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при
  возведении в квадрат, образуют палиндромы. Например: 22<sup>2</sup> → 484 . Вы-
  вести на печать числа, квадраты и их количество.
</p>

<style>
  tr > * {
      text-align: right;
  }
</style>

<table>
  <tr>
    <th>X</th>
    <th>X<sup>2</sup></th>
  </tr>
  <% @result.each { |row| %>
    <tr>
      <td><%= row[0] %></td>
      <td><%= row[1] %></td>
    </tr>
  <% } %>
  <tr>
    <td>Count:</td>
    <td><strong><%= @result.size %></strong></td>
  </tr>
</table>
