// Place all the styles related to the TimeEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.time-entry {
  margin-bottom: -1px;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border: 1px solid var(--gray-dark);
  border-left: 0;
  border-right: 0;

  > .group {
    width: 4rem;
    padding-right: .5rem;

    > .btn {
      border-radius: 100%;
      height: 2rem;
      width: 2rem;
      padding: 0;
      line-height: 2rem;
    }
  }

  > .title {
    margin-right: auto;
    vertical-align: middle;

    > .text-semi {
      opacity: .5;
    }
  }

  > .times {
    margin-right: 1rem;

    > span {
      color: rebeccapurple;
      margin-right: .5rem;
    }
  }

  > .buttons {
    width: 9rem;
  }
}

.entry-editor {
  display: flex;
  background: #001131;
  padding: 0 .5rem;

  > .js-title-input {
    font-size: 2rem;
    line-height: 3rem;
    padding: .5rem -0px;
    font-weight: 600;
    color: var(--indigo);
    display: block;
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
  }

  > .js-time-display {
    font-size: 2rem;
    align-self: center;
    margin-right: 1rem;
    font-family: monospace;
  }

  > .btn {
    align-self: center;
  }
}
