*.o
*.bak
*.ppu
README.pdf
lib/
**/cmake-build-debug/
**/.idea/
build-**/
**/diag-*.png
**/.asciidoctor/

# LaTeX-specific output
*.aux
*.log
*.toc
*.pdf
*_temp.tex

# node
node_modules/
yarn.lock

settings.rb
.ipynb_checkpoints
