<div class="entry-editor js-entry-editor">
  <input type="text" class="js-title-input" placeholder="<%= t 'time_entry.no_title' %>">
  <div class="js-time-display"></div>

  <div class="js-start-btn btn btn-warning" style="font-size: 1.5rem" id='#global-play'>
    <i class="bi bi-play-fill"></i>
  </div>
  <div class="js-stop-btn btn btn-outline-danger" style="display: none; " id='#global-stop'>
    <i class="bi bi-square-fill"></i>
  </div>
</div>
